.imgaccueil {
    width: 80%;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

header {
    text-align: center;
}

nav {
    text-align: right;
    font-size: large;
}

img {
    width: 14%;
    height: 14%;
    margin: 1%;
}

.imageZone {
    display: flex;
    align-items:justify;
    align-content: space-between;
}

article {
    text-align: center;
}